

<h3>Pragmatic ストアでのご注文、誠にありがとうございます</h3>
<p>
あなたがご注文されたのは以下の品目です。
</p>

<table>
  <tr><th colspan="2">数量</th><th>説明</th></tr>
  <%= render @order.line_items %>
</table>

<p>
ご注文の発想の際には、別途メールにてご連絡いたします。
</p>

